name: Secrets workflow

on:
  pull_request:
    branches: ["main"]

env:
  API_CSPROJ_PATH: "./src/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj"

jobs:
  secrets:
    name: Secrets Demo
    runs-on: ubuntu-latest

    steps:
      - name: echo environment variable
        run: echo "The env variable value is $API_CSPROJ_PATH and the secret value is ${{ secrets.SECRET_API_KEY }}"

